﻿@{
    ViewBag.Title = "Attendase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

                    <div class="row-fluid rf">
                        <div class="span8 sv">
                            <div class="main_head">
                            <div class="top_menu">
                                <div class="data_inf">
                                    <h3>Wednesday, Sep 26, 2012</h3>
                                </div>
                                <a class="print" href="#">Print</a>
                                <div class="but_div">
                                    <div class="chart"><a href="#">Chart</a></div>
                                    <div class="list"><a href="#">List</a></div>
                                    <!--<h3><a href="#" class="active">Chart </a>* <a href="#">List</a></h3>-->
                                </div>
                                

                                <!--<div class="btn-group bt">
                                        <button class="btn btn-mini mn">Chart</button>
                                        <button class="btn btn-mini mn">List</button>
                                    </div>-->
                            </div>
                            <div class="top_menu2">
                             
                                    <p class="list_st">Click the chekbox to mark the student Absent or Tardy. All students are presents by default.</p>
                               
                                <div class="legend">
                                <span class="badge badge-important">A</span><a href="#">Absent</a>

                                    <span class="badge badge-warning">T</span><a href="#">Tardy</a>
                                    </div>
                            </div>
                        </div>
                            <table class="table table-bordered tabl">
                                <thead>
                                    <tr>
                                        <th>
                                            <h3>#</h3>
                                        </th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Username</th>
                                        <th>Username</th>
                                        <th>Username</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" /></td>
                                        <td>
                                            <input type="checkbox" /></td>
                                        <td>Бичурин</td>
                                        <td>Игорь</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>none</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" /></td>
                                        <td>
                                            <input type="checkbox" /></td>
                                        <td>Гречка</td>
                                        <td>Руслана</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>none</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" /></td>
                                        <td>
                                            <input type="checkbox" /></td>
                                        <td>Дрок</td>
                                        <td>Владислав</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>none</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="span3 sdf">
                            <div class="top_menu">
                                <div class="padd_tx">
                                    Attendance Archives
                                </div>
                           
                                <div class="top_menu2">
                                    <div class="pad_cl">
                                        <input type="text" />
                                        <button class="btn" type="button" style="margin-bottom: 10px; margin-left: 20px;">Search</button></div>
                                </div>
                            </div>
                                <div class="info">
                                    <h1>This Month</h1>
                                    <div class="day_div">
                                        <div class="day_list">
                                            <ul>
                                                <li class="active">
                                                    <h3>Wednesday</h3>
                                                    ,
                                                    <h2>Sep 26, 2012</h2>
                                                </li>
                                                <li>
                                                    <h3>Tuesday</h3>
                                                    ,
                                                    <h2>Sep 25, 2012</h2>
                                                </li>
                                                <li>
                                                    <h3>Monaday</h3>
                                                    ,
                                                    <h2>Sep 24, 2012</h2>
                                                </li>
                                                <li>
                                                    <h3>Friday</h3>
                                                    ,
                                                    <h2>Sep 21, 2012</h2>
                                                </li>
                                                <li>
                                                    <h3>Thursday</h3>
                                                    ,
                                                    <h2>Sep 20, 2012</h2>
                                                </li>
                                                <li>
                                                    <h3>Tuesday</h3>
                                                    ,
                                                    <h2>Sep 19, 2012</h2>
                                                </li>
                                                <li>
                                                    <h3>Monaday</h3>
                                                    ,
                                                    <h2>Sep 18, 2012</h2>
                                                </li>
                                                <li>
                                                    <h3>Friday</h3>
                                                    ,
                                                    <h2>Sep 15, 2012</h2>
                                                </li>
                                                <li>
                                                    <h3>Thursday</h3>
                                                    ,
                                                    <h2>Sep 14, 2012</h2>
                                                </li>
                                                <li>
                                                    <h3>Wednesday</h3>
                                                    ,
                                                    <h2>Sep 13, 2012</h2>
                                                </li>
                                                <li>
                                                    <h3>Tuesday</h3>
                                                    ,
                                                    <h2>Sep 12, 2012</h2>
                                                </li>
                                                <li>
                                                    <h3>Monaday</h3>
                                                    ,
                                                    <h2>Sep 11, 2012</h2>
                                                </li>
                                            </ul>
                                            
                                        </div>
                                       
                                    </div>
                                    <div class="month">
                                     <h4>November 2012</h4>
                                     <h4>October 2012</h4>
                                        <h4>September 2012</h4>
                                        </div>
                                </div>
                            </div>
                        </div>
