﻿
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>LearnBoost</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-responsive.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse ">
        <div class="navbar-inner new">
            <a class="brand" href="#">LearnBoost</a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <ul class="nav" style="float: right; margin-right: 120px;">
                <li style="border-right: 2px solid #4e4e4e; border-left: 2px solid #4e4e4e;">
                    <a id="header-portfolio" href="#">
                        <div class="icon"></div>
                        MY PORTFOLIO
                    </a>
                </li>
                <li><a href="#" style="border-right: 2px solid #4e4e4e;">LOGIN</a></li>
            </ul>
        </div>
    </div>
    <div class="row hh">
        <div class="span6"><a class="back" href="#"><< back to dashboard</a> </div>
        <div class="span5 lk pull-right">
            <a class="right_tr" href="#">Translate</a>
            <a class="right_ref" href="#">Refer a friend</a>
        </div>
    </div>
    <div class="temp">
        <div class="row-fluid">
            <div class="span12">
                <div class="group_name">
                    <div class="text_group">IF 59a</div>
                </div>
            </div>
        </div>

        <div class="tabbable tb">
            <ul class="nav nav-tabs tp">
                <li class="active"><a href="#tab1" data-toggle="tab">Administration</a></li>
                <li><a href="#tab2" data-toggle="tab">Gradebook</a></li>
                <li><a href="#tab3" data-toggle="tab">Attendanse</a></li>
                <li><a href="#tab4" data-toggle="tab">Lesson Plans</a></li>
                <li><a href="#tab5" data-toggle="tab">Reporting</a></li>
            </ul>
            <div class="tab-content cont">
                <div class="tab-pane active pn" id="tab1">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="tabbable tabs-left">
                                <ul class="nav nav-tabs lf">
                                    <li class="active"><a href="#lA" data-toggle="tab">Info</a></li>
                                    <li><a href="#lB" data-toggle="tab">Class Roster</a></li>
                                    <li><a href="#lC" data-toggle="tab">Seating</a></li>
                                    <li><a href="#lD" data-toggle="tab">Schedule</a></li>
                                    <li><a href="#lE" data-toggle="tab">Access</a></li>
                                    <li><a href="#lF" data-toggle="tab">Policy</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="lA">
                                        <div class="span12 tm">
                                            <div class="div-top"></div>
                                            <h4>Info</h4>
                                            <h5>Setting up a new class</h5>
                                            <div class="temp_cl">
                                                <div class="row">
                                                    <div class="span6">
                                                        <div class="cl_name">
                                                            <label>
                                                                *
                                                                <p>Class name</p>
                                                            </label>
                                                        </div>
                                                        <input class="input-xlarge ix" type="text">
                                                        <div class="div_tp">
                                                            <label>
                                                                *
                                                                <p>Subject</p>
                                                            </label>
                                                        </div>
                                                        <input class="input-xlarge ix" type="text">
                                                        <div class="div_tp">
                                                            <label>
                                                                *
                                                                <p>Course number</p>
                                                            </label>
                                                        </div>
                                                        <input class="input-xlarge ix" type="text">
                                                        <div class="div_tp">
                                                            <label>
                                                                <p>School session</p>
                                                            </label>
                                                        </div>
                                                        <select class="span2 tp">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                        </select>
                                                        <div class="row">
                                                            <div class="span6 spn">
                                                                <div class="div_tp">
                                                                    <label>
                                                                        *
                                                                        <p>Start Date</p>
                                                                    </label>
                                                                </div>
                                                                <input class="input-medium med" type="text" />
                                                                <div class="day_name">
                                                                    <h6>Mon, Jan 23 2012</h6>
                                                                </div>
                                                            </div>
                                                            <div class="span6 nsp">
                                                                <div class="div_tp">
                                                                    <label style="margin-left: 12%;">
                                                                        *
                                                                        <p>End Date</p>
                                                                    </label>
                                                                </div>
                                                                <input class="input-medium md" type="text" />
                                                                <div class="day_name2">
                                                                    <h6>Wed, May 30 2012</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="span6 lf">
                                                        <div class="row">
                                                            <div class="span5 tp">
                                                                <div class="div_tp">
                                                                    <label>Max # of students</label>
                                                                </div>
                                                                <input class="input-medium mi" type="text">
                                                            </div>
                                                            <div class="span5 mp">
                                                                <div class="div_tp">
                                                                    <label>Grade level</label>
                                                                </div>
                                                                <select class="span2 tx">
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="div_tp">
                                                            <label>Description</label>
                                                        </div>
                                                        <div class="arr_div">
                                                            <textarea rows="10" cols="10" name="text"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="lB">

                                        <div id="roster_table" class="rost">
                                            <div class="rost_head">
                                                <div class="rost_but_left">
                                                    <input type="submit" data-bind="click : add" data-value="Add" value="Add student" class="action-button_rost_remove" />
                                                </div>
                                                <div class="rost_but_right">
                                                    <input type="submit" data-name="do" data-value="Email" value="Email" class="action-button_rost_email" />
                                                    <a class="action_button_rost"><span>Import</span></a>
                                                    <a href="#" class="action-button_print">Print</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table_my" style="width:100%;overflow-y:auto;">

                                            <table class="table table-bordered tabl">
                                                <thead>
                                                    <tr>
                                                        <th class="id_type">#</th>
                                                        <th class="first_name_type">First name</th>
                                                        <th class="second_name_type">Last name</th>
                                                        <th class="email_type">Email</th>
                                                        <th class="phone_type">Phone</th>
                                                        <th class="phone_type">Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody data-bind="foreach : studs">
                                                    <tr>
                                                        <td>
                                                            <span data-bind="text : $index" />
                                                        </td>
                                                        <td>
                                                            <input class="inp_name" type="text" data-bind="value : firstName()" />
                                                        </td>
                                                        <td><input class="inp_second_name" type="text" data-bind="value : secondName()" /></td>
                                                        <td><input class="inp_email" type="text" data-bind="value : email()" /></td>
                                                        <td><input class="inp_phone" type="text" data-bind="value : phone()" /></td>
                                                        <td><a data-bind="click : $root.remove" href="#">Remove</a></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="lC">
                                        <p>What up girl, this is Section C.</p>
                                    </div>
                                    <div class="tab-pane" id="lD">
                                        <p>What up girl, this is Section D.</p>
                                    </div>
                                    <div class="tab-pane" id="lE">
                                        <p>What up girl, this is Section E.</p>
                                    </div>
                                    <div class="tab-pane" id="lF">
                                        <p>What up girl, this is Section F.</p>
                                    </div>
                                </div>
                            </div>
                            <!--</div>-->
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab2">
                    <div class="grade_tab">
                        <div class="grade_tab_head">
                            <div class="grade_buttons">
                                <a href="#" class="action_button_grade"><span></span></a>
                                <a class="action_button_settings"><span>Settings</span></a>
                                <a href="#" data-bind="click : addgrade" class="action_button_add">Add Assignment</a>
                                <a class="action_button_save">Save</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="tab3">
                    <div class="row-fluid rf">
                        <div class="span8 sv">
                            <div class="main_head">
                                <div class="top_menu">
                                    <div class="data_inf">
                                        <h3>Wednesday, Sep 26, 2012</h3>
                                    </div>
                                    <a class="print" href="#">Print</a>
                                    <div class="but_div">
                                        <div class="chart"><a href="#">Chart</a></div>
                                        <div class="list"><a href="#">List</a></div>

                                    </div>

                                </div>
                                <div class="top_menu2">

                                    <p class="list_st">Click the chekbox to mark the student Absent or Tardy. All students are presents by default.</p>

                                    <div class="legend">
                                        <span class="badge badge-important">A</span><a href="#">Absent</a>

                                        <span class="badge badge-warning">T</span><a href="#">Tardy</a>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered tabl">
                                <thead>
                                    <tr>
                                        <th>
                                            <h3>#</h3>
                                        </th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Username</th>
                                        <th>Username</th>
                                        <th>Username</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>Бичурин</td>
                                        <td>Игорь</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>none</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>Гречка</td>
                                        <td>Руслана</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>none</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>Дрок</td>
                                        <td>Владислав</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>none</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="span3 sdf">
                            <div class="top_menu">
                                <div class="padd_tx">
                                    Attendance Archives
                                </div>

                                <div class="top_menu2">
                                    <div class="pad_cl">
                                        <input type="text" />
                                        <button class="btn" type="button" style="margin-bottom: 10px; margin-left: 20px;">Search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="info">
                                <h1>This Month</h1>
                                <div class="day_div">
                                    <div class="day_list">
                                        <ul>
                                            <li class="active">
                                                <h3>Wednesday</h3>
                                                ,
                                                <h2>Sep 26, 2012</h2>
                                            </li>
                                            <li>
                                                <h3>Tuesday</h3>
                                                ,
                                                <h2>Sep 25, 2012</h2>
                                            </li>
                                            <li>
                                                <h3>Monaday</h3>
                                                ,
                                                <h2>Sep 24, 2012</h2>
                                            </li>
                                            <li>
                                                <h3>Friday</h3>
                                                ,
                                                <h2>Sep 21, 2012</h2>
                                            </li>
                                            <li>
                                                <h3>Thursday</h3>
                                                ,
                                                <h2>Sep 20, 2012</h2>
                                            </li>
                                            <li>
                                                <h3>Tuesday</h3>
                                                ,
                                                <h2>Sep 19, 2012</h2>
                                            </li>
                                            <li>
                                                <h3>Monaday</h3>
                                                ,
                                                <h2>Sep 18, 2012</h2>
                                            </li>
                                            <li>
                                                <h3>Friday</h3>
                                                ,
                                                <h2>Sep 15, 2012</h2>
                                            </li>
                                            <li>
                                                <h3>Thursday</h3>
                                                ,
                                                <h2>Sep 14, 2012</h2>
                                            </li>
                                            <li>
                                                <h3>Wednesday</h3>
                                                ,
                                                <h2>Sep 13, 2012</h2>
                                            </li>
                                            <li>
                                                <h3>Tuesday</h3>
                                                ,
                                                <h2>Sep 12, 2012</h2>
                                            </li>
                                            <li>
                                                <h3>Monaday</h3>
                                                ,
                                                <h2>Sep 11, 2012</h2>
                                            </li>
                                        </ul>

                                    </div>

                                </div>
                                <div class="month">
                                    <h4>November 2012</h4>
                                    <h4>October 2012</h4>
                                    <h4>September 2012</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab4">
                    <p>Howdy, I'm in Section 4.</p>
                </div>
                <div class="tab-pane" id="tab5">
                    <p>Howdy, I'm in Section 5.</p>
                </div>
                <div class="butn">

                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/director.min.js"></script>
    <script src="~/Scripts/knockout.min.js"></script>
    <script src="~/Scripts/app.js"></script>
</body>
</html>