﻿@{
    ViewBag.Title = "Gradebook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script src="~/Scripts/nethelper.js"></script>
    <script type="text/javascript">

        var studs = @Html.Raw(Json.Encode(Model.Students));
        var lessons =  @Html.Raw(Json.Encode(Model.Lessons));
        var vers = @Html.Raw(Json.Encode(Model.DataVersions));

        var Model = {
            studs: studs,
            lessons : lessons,
            vers : vers
        };
    </script>
    <script src="~/Scripts/app.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.leanModal.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('a[rel*=leanModal]').leanModal({ top: 200, closeButton: ".modal_close" });
        });
        $('.window .closed').click(function (e) {
            e.preventDefault();
            $('#lean_overlay, .window').hide();
        });
    </script>

}

<div class="grade_tab">
    <div class="grade_tab_head">
        <div class="grade_buttons">
            <a href="#" class="action_button_grade" data-bind="click: refresh"><span></span></a>
            <a  class="action_button_add" id="go" rel="leanModal" name="signup" href="#signup">Add Assignment</a>
            <a class="action_button_save" data-bind="click: save">Save</a>
        </div>
    </div>
</div>
<div class="table_my_grade">
    <div class="stud_container">
        <table>
            <thead>
                <th class="first_name_type_grade">First name</th>
                <th class="second_name_type">Second name</th>
                <th class="phone_type">Grade</th>
            </thead>
            <tbody data-bind="foreach : studs">
                <tr>
                    <td>
                        <input class="inp_name_grade" type="text" data-bind="value : firstName()" />
                    </td>
                    <td>
                        <input class="inp_second_name_grade" type="text" data-bind="value : secondName()" />
                    </td>
                    <td style="border: 1px solid #CCC; border-left: none; border-right: none; border-top: none; background: #F8F7F7;">
                        <span class="inp_grade" data-bind="text : average()" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="lessons_container">

        <table>
            <thead>
                <tr data-bind="foreach : lessons">      
                    <th class="first_name_type_grades">   
                        <span data-bind="text : name()" ></span>
                        <img width="10" height="10" data-bind="click : $root.removeLesson" src="~/Images/delete.png"  style="float:right;"/>              
                      </th>
                </tr>
            </thead>

            <tbody data-bind="foreach : studs">
                <tr>
                    <!-- ko foreach : grades -->
                    <td style="white-space: nowrap;">
                        <input class="grades" type="text" data-bind="value : value" />
                    </td>
                    <!-- /ko -->

                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="signup" class="window">
    <div id="signup-ct">
        <div id="signup-header">
            <h2>Create new lesson</h2>
            <a class="modal_close" href="#"></a>
        </div>

        <form >

            <div class="txt-fld">
                <label for="">Lesson</label>
                <input id="" class="good_input" name="" type="text" data-bind='value: lessonToAdd' />
            </div>

            <div class="btn-fld">
                <button type="submit" >
                    <a href="#" class="closed"  data-bind="click: addLesson" >Save &raquo;</a></button>
            </div>
        </form>
    </div>
</div>